$main-font: "Josefin Sans", sans-serif;
$font-2: "Roboto", sans-serif;
$main-color: #03b293;
$main-bg: #1f212c;
$main-bg-2: #fff;
$main-bg-3: #f7f7f7;
$bg-2: #292b36;
$p-color: #c6c6c6;
$p-color-2: #575757;
